/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow; 
  height: 100vh;
  margin: 0;
}

.App-container {
  border: 5px solid black; 
  padding: 20px;
  border-radius: 15px; 
  background-color: #282c34;
  color: white; 
  width: 80%; 
  max-width: 300px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
